.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: var(--bgcolor-secondary);
}

.title {
    color: var(--color-ternary);
    font-weight: bold;
    font-size: 2rem;
}

.right {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.cart {
    position: relative;
    margin-left: 1rem;
}

.cart i {
    color: var(--color-ternary);
}

.cart:hover i {
    color: rgb(228, 9, 9);
    cursor: pointer;
}

.circle {
    position: absolute;
    top: -0.2rem;
    right: -0.5rem;
    color: #000;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: rgb(241, 25, 25);
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 1;
}