.card {
    border: 1px solid gray;
    margin: 1rem;
    min-width: 200px;
    width: 20%;
    padding: 1rem;
}

.card > div {
    margin-bottom: 0.1rem;
}

.img {
    width: 100%;
    height: 200px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title {
    font-weight: bold;
    color: var(--color-primary);
}

.price {
    font-weight: bold;
    color: var(--color-primary);
}

.category {
    color: var(--color-secondary);
}